<div id='container' ng-controller='ShortenController'>
<!-- Your code here -->
  <a href="#/links">View All Links</a>
  <form ng-submit="addLink()" name="urlEntry">
    <input type='url' ng-model="link.url" placeholder="Enter a url....">
    <p>{{ link.url }}</p>
    <button ng-disabled="urlEntry.$invalid">Shrtn!!!!</button>

  </form>

</div>


<div id='container' ng-controller='LinksController'>
  <!-- Your html here -->
  <a href="#/shorten">Shorten a link</a>

  <input type="search" ng-model="f" placeholder="search for a link" />

  <ul ng-repeat="link in data.links | orderBy:'title' | filter:f">
    <li>
      {{ link.title }} - {{link.url}} - {{link.visits}}
      <div>
        <a href={{link.base_url}}/api/links/{{link.code}}>{{link.base_url}}/api/links/{{link.code}}</a>
      </div>
    </li>
  </ul>
</div>
